.property-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .property-actions {
    display: flex;
    justify-content: space-between;
    
  }
  
  .property-actions button {
    padding: 5px 10px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .property-actions button:nth-child(2) {
    background-color: #dc3545;
  }
  
  .edit-form input, .edit-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  .edit-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  